@import '../../scss/_mixins.scss';

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80%;
}

img {
  width: 12%;
}

img:hover {
  cursor: pointer;
  z-index: 2;
}

p {
  text-align: center;
}

app-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  display: flex;
  justify-content: space-around;
}

@include pagination-style;
